* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin: 10px;
  border: 1px solid black;
  font-size: 13px;
}

form h3 {
  margin-right: 10px;
}

form input {
  padding: 5px 10px;
  margin-right: 10px;
}

form button {
  padding: 5px 10px;
}

.wrap {
  padding: 10px;
  display: flex;
  gap: 15px;
}

.wrap .list_area {
  background: #f9f9f9;
  flex: 1;
  height: calc(100vh - 100px);
  padding: 15px;
  overflow: auto;
}

.list_area h2 {
  text-align: center;
  margin-bottom: 20px
}

.list_area li {
  margin-bottom: 10px;
}

.card {
  background: white;
  padding: 20px;
  border: 1px solid #f1f1f1;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
}